h1 {
	font-family: Tahoma, sans;
	font-size: 16pt;
}

p, div {
	font-family: Tahoma, sans-serif
}

table {
	border: 2px solid black;
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}

th {
	border: 1px solid black;
	padding: 5px;
	background-color: lightyellow
}

td {
	border: 1px solid black;
	padding: 5px;	
}

/* Выбранная строка таблицы */
.selected {
	background-color: lightblue;
	border-left: 5px solid blue;
	border-right: 2px solid blue;
}

/* Левая колонка - таблица сессий */
.sessions { 
	float: left;
	min-width: 500px;
	width: 40%;
}

/* Средняя колонка - таблица кругов */
.laps {
	float: left;
	min-width: 100px;
	width: 10%;
	margin-left: 10px;
}

/* Таблица кругов */
.laptable {
	width: 100%;
	text-align: right;
}

/* Таблица лайв-тайминга */
.timing-table {
	border: none;
}

.timing-row {
	height: 5px;  /* FIXME уменьшить высоту строк, сделав это по-человечески! */
}

/* Столбец со временем круга */
.time-col {
	width: 90px;
	text-align: right;
}


/* Номера / ID / позиции */
.number-col {
	width: 20px;
	text-align: right;
}

/* Правая колонка - график */
.plot-container {
	box-sizing: border-box;
	width: 40%;
	height: 400px;
	padding: 0px 10px 10px 10px;
	float: left;
}

/* График */
.plot {
	width: 100%;
	height: 100%;
	font-size: 12px;
}

/* Лайв-тайминг - "свежее" время в практике/квалификации */
.recent-lap {
	font-weight: bold;
	background-color: lightyellow;
}

/* Лайв-тайминг - строка с пилотом, который находится в одном круге с лидером */
.lead-lap {
	font-weight: bold;
	background-color: lightblue;
}

/* Строка с быстрейшим кругом */
.fastest {
	font-weight: bold;
	color: white;
	background-color: purple;
}